// .data-model{
//    float left;
//   width: 200px;
//    .title {
//     height: 40px;
//     line-height: 40px;
//     text-align: center;
//     background: $color-admin-ctrl;
//     color: $color-primary;
//     border-bottom: 1px solid $color-border;
//   }
// }